name: Main

on: [push, pull_request]

jobs:
  main:
    name: Main
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - run: corepack enable
      - run: mise reshim
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm test
      - run: pnpm lint
      - run: pnpm bench:json
